body {
    /* background: linear-gradient(to right, #f7ba57, #a6fffb); */
    background-color: #E4E0E1;
    /* overflow: hidden; */
}

.nav-item{
    margin-left: 5px;
    margin-right: 5px;
}

.navbar{
    background-color: #D6C0B3;
}

.btn-bg-custom{
    background-color: #f1ab75b9;
    border-color: #f1ab75b1 ;
    border-width: 0;
}

.custom-active {
    transform:translateY(-0.2em);
    /* border-radius: 50px; */
    color: #FFF !important;
    background-color: #b55e1bb2 !important;
    border-color: #b55e1b !important;
    border-width: 0;
}


#email_validation,#plateform_validation,#loginError{
    color: rgb(255, 0, 0);
}



.block {
    width: 50%;
    border-radius: 20px;
    background: #0faf87;
    color: white;
    text-align: center;
    padding: 5px 0;
    margin: 40px auto;
    
}
.block2 {
    width: 100px;
    border-radius: 20px;
    background: #d6f1eb;
    color: white;
    text-align: center;
    padding: 1px 0;
    margin: 10px auto;
    
}

.btn{
    margin: 3%;
    transition: all 0.4s ease;
    
}


.btn:hover{
    transform: translateY(-0.2em);
}

.btn:active{
    transform: scale(0.7);
}


.moveUP{
    transition: all 0.4s ease;
    
}
.moveUP:hover{
    transform: translateY(-0.2em)
}


.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.45);
    display: flex;
    align-items: center;
    justify-content: center;
    
    .popup-inner {
        background: #FFF;
        padding: 25px;
        overflow: auto;
        max-height: 500px;
        max-width: 500px;
        z-index: 20;
        border-radius: 20px;

    }

}



.bg-custom{
    background-color: rgb(255, 112, 112);
}

.chart-container {
    position: relative;
    margin: auto;
    height: 100%;
    width: 80%;
    /* font-size: 1.6vw; */
    
}

#app{
    flex-wrap: nowrap;
}

.btn-custom{
  font-size: 1.6vw;
}

.table{
    font-size: 1.6vw;
}


.wallet-balance {
    margin: 20px 0;
    background: linear-gradient(135deg, #b38c3a,#f7dca1);
    color: white;
    border-radius: 12px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.wallet-balance h4 {
    font-size: 3vw;
    font-weight: 500;
    margin-bottom: 10px;
}

.wallet-balance h2 {
    font-size: 4vw;
    font-weight: bold;
}

.wallet-balance .icon {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 5vw;
    opacity: 0.2;
}


@keyframes slide {
    0%{
        transform: translateY(-100px);
       
    }

    30%{
        transform: translateY(0px);
    }


}


.slide{
    animation-name: slide;
    animation-duration: 2s;
    animation-fill-mode:none;
  
}


@keyframes appear {
    0%{
        opacity: 0;
        transform: translateY(-30px);
       
    }

    25%{transform: translateY(0px);}
    

    100%{
        opacity: 1;
    }


}


.appear{
    animation-name: appear;
    animation-duration: 3s;
    /* animation-fill-mode: both; */
  
}





.disappear{
    animation-name: appear;
    animation-duration: 0.1s;
    animation-fill-mode: both;
    animation-direction: reverse;
  
}

.list-group .display-5{
    color: #a39288;
}