body {
    /* background: linear-gradient(to right, #f7ba57, #a6fffb); */
    background-color: rgb(210, 233, 233);
}

.nav-item{
    margin-left: 5px;
    margin-right: 5px;
}

#email_validation,#plateform_validation,#loginError{
    color: rgb(255, 0, 0);
}

#nav a.router-link-exact-active {
    color: #42b983;
}

.block {
    width: 350px;
    border-radius: 20px;
    background: #0faf87;
    color: white;
    text-align: center;
    padding: 1px 0;
    margin: 40px auto;
}